{{ define "main" }}

<div class="posts-wrapper">
  <article class="h-entry post">
    <header>
    {{ with .Title }}
      <h1 class="p-name">{{ . }}</h1>
      {{ end }}
      <h2 class="headline">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
          <a class="u-url dates" href="{{ .Permalink }}">{{ .Date.Format "Jan 2, 2006" }}</a>
        </time>
      </h2>
    </header>
    <section class="e-content post-body">
        {{ .Content }}
    </section>
    <div class="mobile">
      {{ partial "box/advert.html" . }}
    </div>

    {{ if .Site.Params.include_conversation }}
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    {{ end }}

  </article>

  <div class="sidebar" style="margin-top:50px">
    {{ partial "box/advert.html" . }}
    {{ partial "box/recomend.html" . }}
    {{ partial "box/reading.html" . }}
  </div>
</div>
{{ end }}



