<div class="subscribe box">
    <div class="podcast-header">
        <div class="podcast-artwork">
            <img src="https://www.gr36.com/uploads/2023/a44d3056d2.png" class="podcast-artwork-img">
        </div>
        <div class="podcast-name">
            <h1 class="aya">Hello Friends</h1>
        </div>
    </div>
    <div class="subscribe-apps">
        <div class="apple">
            <a href="https://podcasts.apple.com/us/podcast/hello-friends/id1688421066">
            <p class="podcast-brand">Apple</p>
            <div class="app-logo">
                <img src="https://www.gr36.com/uploads/2023/e83938fb03.png" class="app-logo-img">
            </div>
            </a>
        </div>
        <div class="overcast">
            <a href="overcast://x-callback-url/add?url=https://overcast.fm/itunes1688421066">
        <p class="podcast-brand">Overcast</p>
        <div class="app-logo">
                <img src="https://www.gr36.com/uploads/2023/d3a20827e0.png" class="app-logo-img">
            </div>
            </a>
        </div>
        <div class="pocketcasts">
            <a href="https://pca.st/t215vkzw">
            <p class="podcast-brand">Pocketcasts</p>
            <div class="app-logo">
                <img src="https://www.gr36.com/uploads/2023/3900417ea2.png" class="app-logo-img">
            </div>
            </a>
        </div>
        <div class="spotify">
            <a href="https://open.spotify.com/show/5M9gMs7KQHmHAUNz82TAht">
            <p class="podcast-brand">Spotify</p>
            <div class="app-logo">
                <img src="https://www.gr36.com/uploads/2023/98e96aa435.png" class="app-logo-img">
            </div>
            </a>
        </div>
    </div>
    <div class="subscribe-plug">
            Subscribe in your app of choice or copy the good old <a href="https://gr36.com/podcast.xml">RSS Feed</a>
        </div>
    </div>