{{ $related :=  first 20 .Site.Taxonomies.categories.essay }}
{{ $related := shuffle $related }}

<div class="recomended box ne-mobile">
    <h2>You Might Also Like</h2>
      <div class="recomended-posts">
            {{ range first 3 (after 1 .Site.Taxonomies.categories.essay.Pages | complement .Site.Taxonomies.categories.photo.Pages) }}
                  {{ partial "summery.html" . }}
            {{ end }}
      </div>
</div>

<div class="recomended box mobile">
      <h2>Recomended Posts</h2>
        <div class="recomended-posts">
              {{ range first 2 (after 1 .Site.Taxonomies.categories.essay.Pages | complement .Site.Taxonomies.categories.photo.Pages) }}
                    {{ partial "summery.html" . }}
              {{ end }}
        </div>
</div>

