/* Media Queries */
@media screen and (max-width: 540px) {

	footer #wrapper {
		padding: 35px 0 60px 0;
	}

	.profile #wrapper {
		margin: 0 auto;
		text-align: center;
		padding: 70px 0 40px 0;
	}

	#post-meta {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 60px;
	}

	.post {
		margin: 50px 0;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 22px;
	}

	h3 {
		font-size: 19px;
	}

}

@media only screen and (max-width: 750px) {

  
  }
  
  @media (prefers-color-scheme: dark) {
  
	  .site-title {
		  margin-left: 30px;
	  }
  
	  .site-menus {
		  margin-left: 30px;
	  }
  
  }
  

@media screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}

	.mobile-callout {
		display: block;
	}

	.micro-callout {
		display: flex;
		flex-direction: column;
	}

	.mobile-microposts {
		display:flex;
		flex-direction: row;
		gap: 10px
	}

	.mobile-micropost {
		flex: 40%;
	}

	.main-nav {
		text-align: center;
	}

	.site-menus {
		float: none;
		text-align: center;
	}

}
