p, li {
	line-height: 1.7;
}

h1, h2, h3 {
	color: #000;
}

h1 {
	font-size: 30px;
	font-weight: bold;
}

h2 {
	font-size: 25px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 500;
}

p.small {
	font-size: 14px;
	display: block;
}

code.highlighter-rouge {
	background-color: #F5F5F5;
	border-radius: 5px;
	display: inline-block;
	padding: 5px 8px;
	color: #7F7F7F;
	font-size: 15px;
	line-height: 1.35;
	font-style: italic;
}