{{ define "main" }}

{{ $microposts := .Site.Taxonomies.categories.micro }}
{{ $paginator := .Paginate (.Site.Taxonomies.categories.essay) 25 }}

<div class="posts-wrapper">

<div class="full-post-list">
			<div class="list-title"><h2>Blog Posts</h2></div>
  				{{ range $paginator.Pages }}
  					{{ partial "post-item.html" . }}
  				{{ end }}
</div>

	<div class="micro-post-list">
		<div class="list-title"><h2>Micro Posts</h2></div>
		<div class="micro-card-list">
			{{ range first 3 $microposts }}
				{{ partial "micro-item.html" . }}
			{{ end }}
		</div>
		<div class="view-more"><a href="/categories/micro/">View More</a></div>
	</div>			

</div>


{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}

{{ end }}